/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";

.card {
    margin: 0 auto; 
    margin-top: 4rem;
    float: none; 
    background-color: rgb(250, 250, 250);
}
.card-header {
    padding: 1rem;
}
.card-body {
    padding: 2rem;
}
.card-footer {
    padding: 2rem;
    padding-left: 3rem;
}
.card-subtitle {
    padding-bottom: 1rem;
}
